*,
*::after,
*::before {
box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 80%;
}

a {
    text-decoration: none;
}

.slider-section {
    border: dashed 1px red;
}

.wrapper {
    margin:auto;
    width:80%;
}

body {
    margin:0;  
    font-family: 'oxygenregular', sans-serif;
}

.logo img{
    width: 300px;
}

.menu__item {
    padding: 0 13px;
    color: #c5161d;
    text-transform: uppercase;
    font-family: 'oxygenbold', sans-serif;
}

/* .menu__item:last-child {
    padding-right: 0;
} */

.slider-section {
    min-height: 1 vh;
}

.slider__item {
    max-width: 100%;
    max-height: 100%;
}

.header .menu {
    float: right;
}

.footer__inner {
    width: 80%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__link {
    padding: 0 13px;
    color: #c5161d;
    font-family: 'oxygenbold', sans-serif;
}