html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

::-webkit-scrollbar {
    width: 0;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

.wrapper {
    margin:auto;
    width:85%;
}

body {
    margin:0;  
    font-family: 'oxygenregular', sans-serif;
}

.carousel {
    /* width:100vw; */
    position: absolute;
    top: 0px;
    left: 7px;
}

.carousel__inner {
    margin: 0 -7px;
        width:100vw;
}

.carousel__header{
    width: 85%;
    margin:auto;
    position: fixed;
    z-index: 999999;
    left: 7.5vw;
}
.carousel__header_fixed {
    position: fixed;
    left: 0;
    top: 0;
  }

.carousel .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: -60px;
    list-style: none;
    position: relative;
    z-index: 999999;
}

.carousel .slick-dots:hover {
    cursor: pointer;
}

.carousel .slick-dots:visited{
    border: none;
}

.carousel .slick-dots button {
    font-size: 0;
    border: none;
    padding: 0;
    margin: 0 10px;
    width: 50px;
    height: 1px;
    background-color: #c4c4c4;
}

.carousel .slick-active button {
    background-color: #c5161d;
    height: 3px;
}


.slick-track{
    height: 90vh;
    width: 100%;
}
.slick-slide{
    width: 100%;
}
.pic1 {
    background: no-repeat url(./pic/img1.png);
    background-size: cover;
}
.pic2 {
    background: url(./pic/img2.png);
    background-size: cover;
}
.pic3{
    background: url(./pic/img3.png);
    background-size: cover;
}
.pic4{
    background: url(./pic/img4.png);
    background-size: cover;
}
.pic5 {
    background: url(./pic/img5.png);
    background-size: cover;
}
.pic6{
    background: url(./pic/Screenshot_10.png);
    background-size: cover;
}


.carousel__logo{
    width: 300px;
    padding: 30px 0;
}

.menu__item {
    padding: 0 13px;
    color: #c5161d;
    text-transform: uppercase;
    font-family: 'oxygenbold', sans-serif;
}

.menu__item:last-child {
    padding-right: 0;
}

.menu__item:hover{
    opacity: .5;
}
.slider__item {
    width: 100%; 
}

.header .menu {
    float: right;
}



.gallery{
    padding: 115vh 0 0 0;
}
.block,.block-revert{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.block__big{
    width: calc(50% - 5px);
    height: 50vh;
}
.block__small,.block-revert__small{
    width: calc(50% + 5px);
    display: flex;
    flex-wrap: wrap;
}
.block__small .block__item, .block-revert__small .block-revert__item{
    width: calc(50% - 10px);
    height: calc(25vh - 5px);
}
.block__item img, .block-revert__item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .7s;
}
.block__item, .block-revert__item{
    overflow: hidden;
}
.block__item img:hover, .block-revert__item img:hover{
    transform: scale(1.15);
}

.item2{
    margin-bottom: 5px;
    margin-left: 10px;
}
.item3{
    margin-left: 10px;
    margin-bottom: 5px;
}
.item4{
    margin-top: 5px;
    margin-left: 10px;
}
.item5{
    margin-left: 10px;
    margin-top: 5px;
}
.item6{
    margin-right: 5px;
    margin-bottom: 5px;
}
.item7{
    margin-left: 5px;
    margin-bottom: 5px;
}
.item8{
    margin-top: 5px;
    margin-right: 5px;
}
.item9{
    margin-top: 5px;
    margin-left: 5px;
}


.footer{
    /* height:108px; */
    /* color: #c5161d; */
}
.logo__img.footer__logo {
    width: 200px;
    padding: 8px 0 0 0;
}
.footer__inner {
    width: 85%;
    margin:auto;
    padding: 90px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.social__link {
    padding: 0 13px;
    color: #c5161d;
    font-family: 'oxygenbold', sans-serif;
}
.social__link:last-child {
    padding-right: 0;
}
.social__link:hover {
    opacity: .5;
}
.gallery__block a{
    color: white;
    text-transform: uppercase;
}



/* Project */

.info{
    display: flex;
    justify-content: space-between;
    padding: 150px 0 50px 0;
}
.info__left{
    margin-right: 128px;
}
.info__left, .info__right{
    width: 50%;
}
.info__title{
    font-size: 64px;
    margin: 0;
}
.info__competence{
    font-size: 20px;
    color: #999ba6;
}
.info__description{
    font-size: 26px;
    margin-top: 16px;
}
.big-picture__img{
    margin-bottom: 100px;
    height: 90vh;
}
.big-picture__img.img1{
    background: no-repeat url("./pic/project1.png");
    background-size: cover;
}
.big-picture__img.img2 {
    background: no-repeat url("./pic/project1.png");
    background-size: cover;
}
.big-picture__img.img3 {
    background: no-repeat url("./pic/project1.png");
    background-size: cover;
}
.big-picture__img.img4 {
    background: no-repeat url("./pic/project1.png");
    background-size: cover;
}
.big-picture__img.img5 {
    background: no-repeat url("./pic/project1.png");
    background-size: cover;
}
.pictures {
    padding: 50px 0;
}
.more-works__link{
    font-family: 'oxygenbold', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #c5161d;
}
.preview{
    width:100%;
    margin:auto;
}
.preview .preview__picture{
    display: inline-block;
    overflow: hidden;
    width:100%;
    height: 40vh;
}
.preview__picture img {
    width:100%;
    height: 100%;
    object-fit: cover;
    transition: .7s;
    display: block;
}
.preview__picture img:hover{
    transform: scale(1.15);
}
.preview__title{
    color: #000;
}


/* About */

.content{
    height:800px;
    background: cornsilk;
    margin: 100px 0 50px 0;
}



/* Contact */

.contact {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.contact__title{
    font-size: 24px;
    margin: 0 70px 0 0;
}
.contact__info{
    font-size: 22px;
    line-height: 40px;
}
.contact__city{
    margin-bottom: 32px;
}
.contact__social{
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.contact__link {
    margin-right: 9px;
}


/* Media */

@media (min-width: 992px) and (max-width: 1280px){
    .services__item:hover {
        width: 452px;
    }
    .carousel__logo{
        width:250px;
    }
    .contact__title{
        font-size: 20px;
        margin: 0 55px 0 0;
    }
    .contact__info{
        font-size: 18px;
        line-height: 36px;
    }
    .contact__social{
        padding: 5px 0;
    }
    .info__title{
        font-size: 44px;
    }
    .info__description{
        font-size: 22px;
        margin-top: 12px;
    }
    .block__big {
        height: 36vh;
    }
    .block__small .block__item, .block-revert__small .block-revert__item {
        height: calc(18vh - 5px);
    }
    .info__left {
        margin-right: 50px;
    }
}

@media(min-width: 778px) and (max-width: 991px) {
    .carousel__item-hide{
        display: none;
    }
    .block__small .block__item, .block-revert__small .block-revert__item {
        height: 100%;
        width: 100%;
    }
    .carousel__item-margin {
        margin-right: 10px;
    }
    .info__title {
        font-size: 34px;
    }
    .info__competence {
        font-size: 18px;
    }
    .info__description {
        font-size: 18px;
    }
    .info__left {
        margin-right: 28px;
        width:40%;
    }
    .info__right{
        width: 60%;
    }
    .block__big {
        height: inherit;
    }
    .slick-track{
        height: 70vh;
    }
    .gallery {
        padding: 80vh 0 0 0;
    }
    .big-picture__img {
        height: 70vh;
    }
}


@media(max-width: 777px) {
    .slick-track{
        height: 70vh;
    }
    .gallery {
        padding: 80vh 0 0 0;
    }
    .big-picture__img {
        height: 70vh;
    }
    .item2,.item3,.item4,.item5,.item6,.item7,.item8,.item9{
        display: none;
    }
    .block__small, .block-revert__small {
        width: 0;
    }
    .block__big{
        width: 100%;
        height: 40vh;
    }
    .block, .block-revert {
        margin-bottom: 20px;
    }
    .contact__title {
        font-size: 18px;
    }
    .contact__info {
        font-size: 16px;
    }
    .footer__inner {
        width: 100%;
        padding: 90px 0 20px 0;
        text-align: center;
        display: block;
    }
    .logo__img.footer__logo {
        padding: 8px 0 20px 0;
    }
    .info {
        display: block;
    }
    .info__left, .info__right {
        width: 100%;
    }
    .info__title {
        font-size: 36px;
    }
    .info__description {
        font-size: 20px;
    }
    .carousel .slick-dots button {
        width: 20px;
    }
}
